{% extends "base.html" %}

{% block content %}
    <h1>Добро пожаловать на DjangoGramm!</h1>
    <p>
        DjangoGramm - это удивительное место для обмена фотографиями и создания потрясающих моментов. Здесь вы можете делиться своими
        воспоминаниями, загружать фотографии и наслаждаться красивыми изображениями от других пользователей.
    </p>
    <p>
        Создайте свой профиль, добавьте свои фотографии, просматривайте фотографии других пользователей и оставляйте комментарии.
        DjangoGramm предлагает множество возможностей для ваших творческих и фотографических усилий.
    </p>
    <p>
        Наслаждайтесь красотой мира и делитесь ей с сообществом DjangoGramm. Присоединяйтесь к нам сегодня!
    </p>
    <p>
        <a href="{% url 'index' %}">Перейти к ленте фотографий</a>
    </p>
{% endblock %}
