{% extends 'base.html' %}

{% block content %}
<p>Главная страница</p>
<a>Posts</a>
{% for post_with_photos in posts %}
  <h2><a href="{{ post_with_photos.post.get_absolute_url }}">{{post_with_photos.post.name}}</a></h2>
  {% for photo in post_with_photos.photos %}
    <img src="{{ photo.image.url }}" alt="Photo" width="150" height="150">
  {% endfor %}
{% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if posts.has_previous %}
      <a href="?page=1">&laquo; первая</a>
      <a href="?page={{ posts.previous_page_number }}">предыдущая</a>
    {% endif %}

    <span class="current">
      Страница {{ posts.number }} из {{ posts.paginator.num_pages }}.
    </span>

    {% if posts.has_next %}
      <a href="?page={{ posts.next_page_number }}">следующая</a>
      <a href="?page={{ posts.paginator.num_pages }}">последняя &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}
